@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0 0 150px 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
.header_upper_part {
    width: 100%;
}

.header_logo {
    text-align: center;
    background-color: #ffffff;
    width: 1004px;
}

.logo_blue {
    width: 22%;
    margin: -2.7rem;
}

.header_menu {
    width: 100%;
    height: 150px;
    display: flex;
}

.menu_left_part {
    background-color: rgb(27, 80, 160);
    width: 55%;
}

.menu_middle_part {
    display: flex;
    flex-direction: row;
}

.menu_middle_upper {
    position: absolute;
    background-color: rgb(10, 28, 85);
    width: 40%;
    height: 60px;
    margin-left: 24%;
    border-radius: 0 0 0 20px;
}

.menu_middle_lower {
    position: absolute;
    background-color: rgb(27, 80, 160);
    width: 40%;
    height: 90px;
    margin-left: 22%;
    border-radius: 0 20px 0 0;
    margin-top: 60px;
}

/* Upper part of the menu for mobile */

.mobile_upper_menu {
    display: none;
    background-color: #133a75;
    list-style-type: none;
}

.p-2 ul {
    list-style-type: none;
   
}

.p-2 ul li a {
    color: #fcefef;
    padding: 3px 0;
}

/* Header navbars */

.navigation ul {
    list-style-type: none;

}

.navigation ul li a {
    color: #fcefef;
    text-decoration: none;
}

/* Upper part of the menu */

.upper_nav ul {
    padding: 0;
    margin: 0;
}

.upper_nav ul li {
    padding: 0;
    font-size: 10px;
    height: 60px;
    display: inline-block;
}

.upper_nav ul li:hover {
    background-color: #133a75;
}


.upper_nav ul li a {
    padding: 20px 20px 30px 20px;
    display: inline-block;
}

.upper_nav ul li:first-child:hover {
    border-radius: 0 0 0 20px;
}

/* Dropdown part of the upper menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
    background-color: #133a75;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #133a75;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 0;
    text-decoration: none;
    display: block;
    border-bottom: solid 1px white;
    background-color: #133a75;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #2e558f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Lower part of the menu */

.lower_nav ul {
    padding-top: 4%;
}


.lower_nav ul li {
    padding: 0 5%;
    font-size: small;
    display: inline;
    height: 90px;
}

.icon {
    color: #ffffff;
    padding: 1%;
}

.mobile_lower_menu {
    display: none;
}

.mobile_lower_menu ul {
    padding-top: 4%;
}

.mobile_lower_menu ul li {
    padding: 0 5%;
    font-size: small;
    display: inline;
    height: 90px;
}

.mobile_lower_menu ul li a {
    color: #fcefef;
    text-decoration: none;
}

.menu_right_part {
    background-color: rgb(10, 28, 85);
    width: 45%;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 1rem 9rem;
}

.profile h5 {
    color: #fcefef;
    font-size: small;
    font-weight: 700;
}

.card {
    width: 250px;
    border-top: 1px solid #fcefef;
    border-bottom: 1px solid #fcefef;
    border-left: 1px solid #fcefef;
    border-radius: 0;
    background-color: rgb(27, 80, 160);
    background-image: linear-gradient(to right, rgb(10, 28, 85), rgb(27, 80, 160));
    color: #fcefef;
    font-size: small;
}

.card-body {
    display: flex;
    padding: .7rem;
}

.profile_image {
    height: 3.5rem;
    padding: 0 1rem;
    margin: 0;
    border-radius: 50%;
}



/* Content of the page */

article {
    text-align: center;
    width: 1004px;
    margin: auto 380px;
    padding-top: 2%;
    font-size: 0.8em;
}

h1,
h4 {
    padding-bottom: 2%;
    border-bottom: 1px solid gainsboro;
    color: rgb(8, 8, 116);
    text-align: left;
    font-size: large;
}

h4 {
    padding-top: 2%;
}

.title_bold {
    font-weight: 700;
}

.title_grey {
    color: rgb(204, 212, 210);
    padding-left: 1%;
    font-size: large;
}

td {
    padding: 5px;
    font-size: small;
}

.data_category {
    font-weight: 600;
    width: 170px;
}

td {
    text-align: left;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 28, 85);
}

.mobile-footer {
    display: none;
}

.footer_content {
    width: 1004px;
    margin: auto 380px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
}

.logo_white {
    width: 22%;
    margin: -3rem 0 -2.5rem 20rem;
}

/* Modal */

.modal-mobile {
    display: none;
}

.contact_modal {
    font-size: small;
}

.contact_modal:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.map-mobile {
    display: none;
}

.modal_content {
    background-color: #fefefe;
    margin: 1rem auto;
    padding: .5rem 2rem;
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    height: 92%;
    box-shadow: 5px 5px rgb(56, 63, 63);
}

.modal_content h4 {
    padding-bottom: 5px;
}

#close_modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close_modal:hover,
#close_modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact_info {
    display: flex;
    flex-direction: row;
}

.contact_info {
    font-size: .9rem;
}

.map {
    margin-left: 40px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
    .header_logo {display: none;}
    .header_menu {flex-direction: column; height: auto; margin-bottom: 10px;}
    .menu_left_part {display: none}
    .menu_right_part {display: none;}
    .mobile_upper_menu {display: inline-block; overflow: visible;}
    .dropdown-content a {padding: 1px; width: 120%;}
    .logo-mobile {width: 150px; margin: -20px 10px;}
    .mobile-footer {display: inline; overflow: visible;}
    .mobile_lower_menu {display: inline;}
    .mobile_lower_menu ul {padding: 5px; margin: 0; text-align: center;}
    .mobile_lower_menu ul li {font-size: .8rem; padding: 0 2.5%;}
    .mobile_lower_menu ul li a i {display: none;}
    .mobile-footer-lower {display: flex; flex-direction: row;justify-content: space-between;}
    .card {border: none;}
    .footer_logo {display: none;}
    .modal-mobile {display: inline; text-align: left; margin: 25px;}
    .map {display: none;}
    .map-mobile {display: inline;}
    .modal_content {height: max-content;}
    article {width: 100%; margin: 0; padding: 0 10px;}
    h3, h4 {font-size: medium;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}